modules = ["docker", "nodejs-18"]
run = "cd light-sleep-alarm && npx expo start --tunnel"
[nix]
channel = "stable-24_05"

[deployment]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]

[[workflows.workflow]]
name = "Create expo project"
mode = "sequential"
author = 8309852

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx create-expo-app@latest"

[[workflows.workflow]]
name = "dev build iOS "
mode = "sequential"
author = 8309852

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd light-sleep-alarm"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build -p ios --profile development"

[[workflows.workflow]]
name = "cd light-sleep-alarm"
mode = "sequential"
author = 8309852

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd light-sleep-alarm"

[[workflows.workflow]]
name = "Start expo"
mode = "sequential"
author = 8309852

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "cd light-sleep-alarm"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel"
